<p id="notice"><%= notice %></p>

<p>
  <b>Nom:</b>
  <%= @person.nom %>
</p>

<p>
  <b>Prenom:</b>
  <%= @person.prenom %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
